# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore environment files
.env
*.env

# Ignore log files
*.log

# Ignore virtual environment directory
venv/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore purchases directory
purchases/

static/images/*
